* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
  }
  body {
    background: #201e29;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    color: #333;
  }